@import url('https://webfontworld.github.io/ridi/RidiBatang.css');

.myPage {
  min-width: 60%;
  max-width: 60%;
  /* height 맞는건지? */
  height: 100vh;

  background-color: #121212;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'RidiBatang';
  color: white;
  padding: 1rem;
}
.profileBox {
  display: flex;
  margin: 1rem 0;
}

.profileImage {
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userUpBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.userUpBox button {
  line-height: 1rem;
}

.userUpBox svg {
  font-size: 2rem;
  color: white;
}

.userUpBox svg:hover {
  transform: scale(1.2);
  transition: 300ms ease-in-out;
  color: gray;
}

.userId {
  color: gray;
  font-weight: 700;
  margin: 0;
  margin-right: 1rem;
}

.userDownBox {
  display: flex;
}

.userDownBox p {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin-right: 2rem;
}

.userDownBox p span {
  font-size: 1.3rem;
  margin-right: 1rem;
}

.myPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-top: 1px groove gray;
  margin-top: 2rem;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
  margin-top: 0;
  /* width: 18rem;
  height: 18rem; */
}

.myPosts img {
  width: 18rem;
  height: 18rem;
}

.buttonBox {
  width: 100%;

  display: flex;
}

.editBtn {
  flex-basis: 50%;
  padding: 1rem;
  font-size: 1rem;
  background-color: rgba(49, 48, 48, 0.432);

  color: white;
  font-family: 'RidiBatang';
  border-right: 1px groove gray;
}

.editBtn:hover {
  background-color: rgb(100, 99, 99);
}

.deleteBtn {
  flex-basis: 50%;
  padding: 1rem;
  font-size: 1rem;
  background-color: rgba(49, 48, 48, 0.432);

  color: white;
  font-family: 'RidiBatang';
}

.deleteBtn:hover {
  background-color: rgb(100, 99, 99);
}
