@import url('https://webfontworld.github.io/score/SCoreDream.css');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  font-family: 'Times New Roman', Times, serif;
  color: white;
  padding: 0 2rem;
  height: 90px;
  background-color: black;
  /* border-bottom: groove 1px gray; */
}

.leftBox a {
  color: white;
  text-decoration: none;
}

.leftBox h1 {
  cursor: pointer;
}

.leftBox span {
  color: rgba(26, 155, 47, 0.801);
  font-size: 2rem;
}

.rightBox {
  display: flex;
  align-items: center;
}

.rightBox button {
  color: white;
  background-color: rgba(26, 155, 47, 0.801);
  padding: 0.7rem 3rem;
  margin: 0 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;
}

.rightBox button:hover {
  background-color: rgba(34, 202, 62, 0.801);
}

.isLoggedInBox {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
}

.userId {
  font-size: 1.2rem;

  margin: 0 1rem;
  color: rgb(175, 175, 175);
}

.isLoggedInBox button {
  padding: 0;
  margin: 0 1rem;
  background-color: transparent;
}

.isLoggedInBox svg {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

.isLoggedInBox button:hover {
  background-color: transparent;
}

.isLoggedInBox svg:hover {
  color: gray;
}
